* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utilities */

.hide{
  display: none;
}

.show{
  display: block;
}



#contenitore-immagine{
  margin: 0 auto;
  width: 200px;

}

img{
  width: 100%;
}



.stanza{
  max-width: 700px;
  height: 300px;
  margin: 30px auto;
  border: 3px solid blue;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  background-color: lightblue;

}

#on-off{
  height: 60px;
  margin: auto;
  padding: 0 20px;
  font-size: 1.5rem;
  border: 3px solid;
  
}
#on-off:hover{
  cursor: pointer;
}